<section class="header">
    <h2>EDUCATION</h2>
</section>
<div class="title">
    <h2>Programming Education</h2>
</div>
<section class="cards">
    <div class="card-body">
        <div class="card-content">
            <img width="50px" height="50px" src="https://fsx1.itstep.org/api/v1/files/KI8ivg78U08nXDGDQ-O_18P1-0F49u4b"
                alt="html-css-form-example">
            <h3><strong>IT Academy Step</strong></h3>
            <div>Front-End Web-Programming Program</div>
            <div class="years">Jan 2023 - Aug 2023</div>
        </div>
        <div class="card-btn">
            <button (click)="openCertificate()">CERTIFICATE</button>
        </div>
        <!-- <hr color="#fe6f27"> -->
    </div>
</section>
<div class="title">
    <h2>Other Education</h2>
</div>
<section class="cards">
    <div class="card-body">
        <div class="card-content">
            <img width="70px" height="50px" src="https://iset.tsu.ge/images/White_Logo_ISET2.png"
                alt="html-css-form-example">
            <h3><strong>International School of Economics at TSU</strong></h3>
            <div>Economics Course</div>
            <div class="years">Sep 2018 - Aug 2022</div>
        </div>
        <div class="card-btn">
            <button (click)="openDegree()">CERTIFICATE</button>
        </div>
        <!-- <hr color="#fe6f27"> -->
    </div>
    <div class="card-body">
        <div class="card-content">
            <img width="140px" height="50px" src="https://komarovi.edu.ge/img/k_logo3-2.png"
                alt="html-css-form-example">
            <h3><strong>Komarovi School</strong></h3>
            <div>Intesified Math & Physics</div>
            <div class="years">Sep 2012 - Aug 2018</div>
        </div>
        <div class="card-btn">
            <button (click)="openDiploma()">CERTIFICATE</button>
        </div>
        <!-- <hr color="#fe6f27"> -->
    </div>
</section>