<section>
    <div class="bio">
        <p>Hello and welcome to my page. I'm an aspiring Front-End Web-Developer who's always eager to learn and grow in
            this field. I am already capable of doing some basic projects on my own, however I am very motivated to get
            real experience with a team of professionals in a well-managed company. I am patient, hardworking and a
            team-player with a drive towards success!</p>
    </div>
    <div class="image">
        <img src="https://bespoke-arithmetic-b4eb93.netlify.app/me.jpg" alt="Kakhaber-Gulbani">
    </div>
</section>
<div class="router-btns">
    <div class="projects"><button routerLink="projects" class="router-btn">Projects</button>
    </div>
    <div class="experience"><button routerLink="experience" class="router-btn">Experience</button>
    </div>
    <div class="education"><button routerLink="education" class="router-btn">Education</button></div>
</div>