<section class="header">
    <h2>EXPERIENCE</h2>
</section>
<section class="cards">
    <div class="card-body">
        <div class="card-content">
            <img width="100px" height="50px"
                src="https://dqhvdmwzk0rbb.cloudfront.net/cdn/themes/newPainting/img/pyl_logo_2023.svg"
                alt="Company logo">
            <h3><strong>Paint Your Life</strong></h3>
            <div class="role">English Speaking Customer Support Agent</div>
            <div class="years">Sep 2020 - Dec 2020</div>
            <hr color="#fe6f27">
        </div>
    </div>
    <div class="card-body">
        <div class="card-content">
            <img width="100px" height="50px"
                src="https://i.guim.co.uk/img/media/b73cc57cb1d46ae742efd06b6c58805e8600d482/16_0_2443_1466/master/2443.jpg?width=700&quality=85&auto=format&fit=max&s=fb1dca6cdd4589cd9ef2fc941935de71"
                alt="Company Logo">
            <h3><strong>Lime Consulting</strong></h3>
            <div class="role">English Speaking Personal Agent</div>
            <div class="years">Jul 2021 - Sep 2021</div>
            <hr color="#fe6f27">
        </div>
    </div>
    <div class="card-body">
        <div class="card-content">
            <img width="100px" height="50px"
                src="https://i.guim.co.uk/img/media/b73cc57cb1d46ae742efd06b6c58805e8600d482/16_0_2443_1466/master/2443.jpg?width=700&quality=85&auto=format&fit=max&s=fb1dca6cdd4589cd9ef2fc941935de71"
                alt="Company logo">
            <h3><strong>Universal Transit</strong></h3>
            <div class="role">English Speaking Dispatcher</div>
            <div class="years">Oct 2022 - Nov 2022</div>
            <hr color="#fe6f27">
        </div>
    </div>
</section>