<section class="header">
    <h2>PROJECTS</h2>
</section>
<section class="cards">
    <div class="card-body">
        <div class="card-content">
            <img src="https://bright-profiterole-b2accb.netlify.app/images/html%20&.%20css%20final%20project.png"
                alt="html-css-form-example">
            <h5><strong>HTML/CSS/FORM Example</strong></h5>
            <p class="date"> MAR 26 2023</p>
        </div>
        <hr color="white">
        <div class="card-btns">
            <button (click)="htmlCssProjectSource()" class="source">source</button>
            <button (click)="htmlCssProjectLive()" class="live">Live-Demo</button>
        </div>
    </div>
    <div class="card-body">
        <div class="card-content">
            <img src="https://64f882b047d1530c9d9b94a2--bright-profiterole-b2accb.netlify.app/images/age-calculator.png"
                alt="age-calculator">
            <h5><strong>Age-Calculator</strong></h5>
            <p class="date"> JUL 07 2023</p>
        </div>
        <hr color="white">
        <div class="card-btns">
            <button (click)="ageCalculatorSource()" class="source">source</button>
            <button (click)="ageCalculatorLive()" class="live">Live-Demo</button>
        </div>
    </div>
    <div class="card-body">
        <div class="card-content">
            <img src="https://bright-profiterole-b2accb.netlify.app/images/weather%20&%20country%20app.png"
                alt="weather-app">
            <h5><strong>Weather/Country App</strong></h5>
            <p class="date"> AUG 10 2023</p>
        </div>
        <hr color="white">
        <div class="card-btns">
            <button (click)="weatherAppSource()" class="source">source</button>
            <button (click)="weatherAppLive()" class="live">Live-Demo</button>
        </div>
    </div>
    <div class="card-body">
        <div class="card-content">
            <img src="https://bright-profiterole-b2accb.netlify.app/images/ng%20final%20project.png" alt="weather-app">
            <h5><strong>Employee-Adder App</strong></h5>
            <p class="date"> AUG 19 2023</p>
        </div>
        <hr color="white">
        <div class="card-btns">
            <button (click)="employeeAdderAppSource()" class="source">source</button>
            <button class="live">Not Hosted</button>
        </div>
    </div>
</section>