<div class="icon-container">
    <ul class="social-icons">
        <li>
            <a href="https://www.facebook.com/Alciel19">
                <i class="fa-brands fa-facebook fa-beat fa-2xl" style="color: #0666b5;"></i>
            </a>
        </li>
        <li>
            <a href="https://github.com/oni-giri19">
                <i class="fa-brands fa-github fa-bounce fa-2xl" style="color: #070808;"></i>
            </a>
        </li>
        <li>
            <a href="https://www.linkedin.com/in/kakhaber-gulbani-109819257/">
                <i class="fa-brands fa-linkedin fa-flip fa-2xl" style="color: #5caef1;"></i>
            </a>
        </li>
        <li>
            <a href="https://www.instagram.com/kaxa_gulbani/">
                <i class="fa-brands fa-instagram fa-spin fa-2xl" style="color: #f0159c;"></i>
            </a>
        </li>
    </ul>
</div>